@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: none;
}


body{
    background-color: #081616;
    color: #fff;
    font-family: "poppins";
    padding: 0;
    margin: 0;
    overflow-x: clip;
}

a{
    text-decoration: none;
    color: #fff;
}

/* //-- NAVBAR SECTION --// */
nav{
    background-color: #0D2525;
    padding: 1.75rem 0rem;
}

.navbar{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.global-text{
    color: #0FCFCF;
    font-size: 28px;
    font-weight: 800;
}

.artwork-text{
    letter-spacing: 0.3rem;
}

.nav-right-part{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.nav-list{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.nav-button{
    padding: 0.5rem 1rem;
    background-color: #0E3D3D;
    border: #0FCFCF solid;
    color: #fff;
}

/* //-- HERO-SECTION --// */

.hero-section{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    margin-top: 5rem;
}

.hero-heading{
    color: #fff;
    font-size: 128px;
    font-weight: 800;
}

.hero-head-middle-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NFT{
    color: #0FCFCF;
    font-size: 340px;
    font-weight: 900;
    padding: 0;
    height: 360px;
    margin-top: -6rem;
}

.scribble-img{
    padding-top: 5rem;
    margin-left: -4rem;
}

.Nft-right-sec{
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 1.5rem;
    margin-top: 2rem;
}

.hero-head-bottom-sec{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-head-btm-text{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 6rem 0rem;
    
}

/* supercharge-bar */

.hero-supercharge-bar{
    background-color: #0C4747;
    height: 100px;
    padding: 1.5rem 0rem;
    width: 100vw;
    display: flex;
    gap: 5rem;
    margin-bottom: 15rem;
    position: relative;
    left: -9.5vw;
}

.supercharge-bg1{
    background-color: #0c474785;
    height: 150px;
    width: 100vw;
    position: absolute;
    left: -0.5vw;
    top: 1.5rem;
    z-index: -1;
    transform: rotate(2.85deg);
    overflow-x: none;
}

.supercharge-bg2{
    background-color: #0c47473d;
    height: 140px;
    width: 100vw;
    position: absolute;
    top: 3.45rem;
    left: -0.55vw;
    z-index: -2;
    transform: rotate(5.5deg);
    overflow-x: none;
}

.supercharge-text{
    font-size: 36px;
    font-weight: 500;
}


/* //-- <!--Section-2 Upcoming-Card-Section --> --// */

.section2{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 10rem auto;
    gap: 4rem;
    margin-top: 0;
}

.sec2-card-side-headings{
    display: flex;
    justify-content: space-between;
}

.arrow{
    margin-left: 1rem;
}

.sec2-Cards-Section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
}

.card{
    border: 2px solid #0FCFCF;
    padding: 2rem 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 10px;
    background:  linear-gradient(180deg, #013e3e, #042525);
}

.sec2-card{
    /* background-color: #0C3232; */
    background:  linear-gradient(180deg, #013e3e, #042525);
}

.sec2-card>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.sec2-card-icons{
    display: flex;
    font-size: 24px;
    gap: 1rem;
    color: #d1d4d4;
}

.sec2-card-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-icon{
    font-size: 34px;
}

.ethereum{
    color: #0FCFCF;
}

.meta{
    color: #195dda;
    font-size: 22px;
}

.pixel-pix{
    position: relative;
    top: -1rem;
    left: 1rem;
}

.stat-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

}

.stat-btn{
    padding: 0.75rem 1rem;
    background-color: #113f3f;
    border-radius: 35px;
    font-size: 13px;
}


.range-bar{
    
    width: 90%;
    background-color: #013e3e;
    height: 40px;
    border-radius: 25px;
    padding-left: 2rem;
    padding-top: 0.75rem;
    position: relative;
}

.range-inner-bar{
    background-color: #146161;
    height: 52px;
    width: 36%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 0;
}

.percent-num{
    position: relative;
    z-index: 1;
}

.card-icons{
    display: flex;
    flex-direction: row;
}

.card-numbers{
    font-size: 20px;
    color: #A1ABAA;
}

.card-icons{
    color: #A1ABAA;
    gap: 1.2rem;
}

.participate-btn{
    border: 2px solid #A1ABAA;
    border-radius: 30px;
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.sec2-card-heading>div{
    display: flex;
    gap: 1.5rem;
}

/* <!-- Section-3 Utilites-Section --> */
.section3{
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 3rem;
    margin: 10rem auto;
    
}

.sec3-card-heading, .common-sec-heading{
    font-size: 35px;
    text-align: center;
}

.sec3-cards-section{
    display: flex;
    gap: 4rem;
    color: #A1ABAA;
    font-size: 14px;
}

.section3-middle-cards-sec{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.utilities-card-sec
{
    padding-bottom: 0rem;
    position: relative;
    height: 565px;
   
}

.utilities-ethereum{
    font-size: 40px;
    color: #bfc2c2;
}

.utilities-card-heading{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.utilities-card-imgs{
    align-self: center;
    position: absolute;
    bottom: 0;
}

/*  <!-- Section-4 Activity --> */

.section4{
    width: 80vw;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.text-color{
    color: #d9dddd;
}

.filter-btns{
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
}

.filter-btns>button{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    width: 12vw;
    background:  linear-gradient(180deg, #013e3e, #042525);
    color: #fff;
    border: #0FCFCF 1px solid;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
}

.filter-btns i{
    font-size: 20px;
}

.Activity-stats{
    width: 100%;
    gap: 0.75rem;
    padding-top: 3.5rem;
}

.dashed-line{

    border-style: dashed;
    border-color:  #5f6161;
    border-width: 1px;
    margin-top: 2.6rem;
    /* border-bottom-color: #5f6161; */   
}

.product-headings{
    font-size: 20px;
    font-weight: 400;
}

.product-elements{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
}

.product-elements>div:nth-child(1){
    width: 23%;
    justify-content: flex-start;
}

.product-elements>div:nth-child(2){
    width: 10%;
    justify-content: center;
}

.product-elements>div:nth-child(3){
    width: 10%;
    justify-content: center;
}

.product-elements>div:nth-child(4){
    width: 8%;
    justify-content: center;
}

.product-elements>div:nth-child(5){
    width: 6%;
    justify-content: center;
}

.product-elements>div:nth-child(6){
    width: 6%;
    justify-content: center;
}

.product-elements>*{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid #b0b610; */
}

.SNo{
    padding-right: 1rem;
}

.num-color-green{
    color: #57cf57;
}

.num-color-red{
    color: #eb1313;
    
}

.FloorPrice-value>*{
    width: 20%;
}

.product-img-crop{
    border-radius: 50%;
}

.line{
    height: 1px;
    width: 100%;
    background-color: #5f6161;
}

/* <!-- Section-5 OurTeam --> */
.section5{
    width: 80vw;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.OurTeam-card-Section{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    margin-top: 2rem;
}

.ourTeam-card{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* <!-- Section-6 FAQ-Section --> */
.section6{
    width: 80vw;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section6>*{
    width: 85%;
    margin: auto;
    
}

.common-sec-heading{
    text-align: center;
}

.faq-menus{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.faq-questions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faq{
    display: flex;
    justify-content: space-between;
    outline: solid 2px #5f6161;
    padding: 1.5rem 2rem;
    border-radius: 5px;
}

.faq2{
    text-align: left;
}

/* <!-- Section-7 Join-Community-Section --> */

.section7{
    width: 80vw;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* //-- FOOTER SECTION --// */

footer{
    background-color: #0D2525;
    padding: 5rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* main-footer-sec */

.main-footer-sec{
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    gap: 5rem;
}

.logo-footer-text{
    color: #949898;
    font-size: 14px;
    margin-top: 1.5rem;
}

/* main-footer-right-part */

.main-footer-right-part{
    display: flex;
    width: 55vw;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

.footer-lists{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list-head{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.8rem;
    color: #fff;
}

li{
    color: #949898;
    font-size: 16px;
}

.icons-list{
    display: flex;
    flex-direction: column;
}

.icons-list>i{
    font-size: 30px;
    margin-bottom: 0.95rem;
}

.footer-line{
    height: 2px;
    background-color: #3d3e3ecd;
    width: 100vw;
}

.copywrite{
    text-align: center;
    color: #949898;
    margin-bottom: 0rem;
}