@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #081616;
    color: #fff;
    font-family: "poppins";
}

a{
    text-decoration: none;
    color: #fff;
}

/* //-- NAVBAR SECTION --// */
nav{
    background-color: #0D2525;
    padding: 1.75rem 0rem;
}

.navbar{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.global-text{
    color: #0FCFCF;
    font-size: 28px;
    font-weight: 800;
}

.artwork-text{
    letter-spacing: 0.3rem;
}

.nav-right-part{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.nav-list{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.nav-button{
    padding: 0.5rem 1rem;
    background-color: #0E3D3D;
    border: #0FCFCF solid;
    color: #fff;
}

/* //-- HERO-SECTION --// */

.hero-section{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    margin-top: 5rem;
}

.hero-heading{
    color: #fff;
    font-size: 128px;
    font-weight: 800;
}

.hero-head-middle-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NFT{
    color: #0FCFCF;
    font-size: 340px;
    font-weight: 900;
    padding: 0;
    height: 360px;
    margin-top: -6rem;
}

.scribble-img{
    padding-top: 5rem;
    margin-left: -4rem;
}

.Nft-right-sec{
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 1.5rem;
    margin-top: 2rem;
}

.hero-head-btm-text{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 6rem 0rem;
}

